APP_NAME=Dependency Compatibility Analyzer
APP_VERSION=0.1.0


## Cohere embed Configuration
COHERE_EMBED_API_URL=https://api.cohere.com/v2/embed
COHERE_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
COHERE_EMBED_MODEL=embed-v4.0

## Gemini API key
GEMINI_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx